<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-interview-question-heading">Create or edit a Interview Question</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_score">Score</label>
                    <input type="number" class="form-control" name="score" id="field_score"
                           formControlName="score"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_respone">Respone</label>
                    <input type="text" class="form-control" name="respone" id="field_respone"
                           formControlName="respone"/>
                    <div *ngIf="editForm.get('respone')!.invalid && (editForm.get('respone')!.dirty || editForm.get('respone')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('respone')?.errors?.maxlength">
                        This field cannot be longer than 8192 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_time">Time</label>
                    <div class="d-flex">
                        <input id="field_time" type="datetime-local" class="form-control" name="time" formControlName="time" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_interviewee">Interviewee</label>
                    <select class="form-control" id="field_interviewee" name="interviewee" formControlName="interviewee">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="intervieweeOption.id === editForm.get('interviewee')!.value?.id ? editForm.get('interviewee')!.value : intervieweeOption" *ngFor="let intervieweeOption of interviewees; trackBy: trackById">{{ intervieweeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_question">Question</label>
                    <select class="form-control" id="field_question" name="question" formControlName="question">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="questionOption.id === editForm.get('question')!.value?.id ? editForm.get('question')!.value : questionOption" *ngFor="let questionOption of questions; trackBy: trackById">{{ questionOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_interviewqs">Interviewqs</label>
                    <select class="form-control" id="field_interviewqs" name="interviewqs" formControlName="interviewqs">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="interviewQuestionSetOption.id === editForm.get('interviewqs')!.value?.id ? editForm.get('interviewqs')!.value : interviewQuestionSetOption" *ngFor="let interviewQuestionSetOption of interviewquestionsets; trackBy: trackById">{{ interviewQuestionSetOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
