<div>
    <h2 id="page-heading">
        <span>Question Sets</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-question-set" [routerLink]="['/question-set/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Question Set
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="questionSets?.length === 0">
        <span>No questionSets found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="questionSets && questionSets.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Name</span></th>
                    <th scope="col" ><span>Intro</span></th>
                    <th scope="col" ><span>Outro</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let questionSet of questionSets ;trackBy: trackId">
                    <td><a [routerLink]="['/question-set', questionSet.id, 'view']">{{ questionSet.id }}</a></td>
                    <td>{{ questionSet.name }}</td>
                    <td>{{ questionSet.intro }}</td>
                    <td>{{ questionSet.outro }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/question-set', questionSet.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/question-set', questionSet.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(questionSet)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
