<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="questionSet">
            <h2><span>Question Set</span> {{ questionSet.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ questionSet.name }}</span>
                </dd>
                <dt><span>Intro</span></dt>
                <dd>
                    <span>{{ questionSet.intro }}</span>
                </dd>
                <dt><span>Outro</span></dt>
                <dd>
                    <span>{{ questionSet.outro }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/question-set', questionSet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
