<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="interviewee">
            <h2><span>Interviewee</span> {{ interviewee.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Candidate Id</span></dt>
                <dd>
                    <span>{{ interviewee.candidateId }}</span>
                </dd>
                <dt><span>Remaining</span></dt>
                <dd>
                    <span>{{ interviewee.remaining }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/interviewee', interviewee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
